<?xml version='1.0' encoding='utf-8'?>
<widget id="com.cm.rutadelaselva" version="1.8.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Ruta de la Selva</name>

    <description>
    Guia Turistica de la Ruta de la Selva
    </description>
	
	<feature name="SocialSharing">
        <param name="android-package" value="nl.xservices.plugins.SocialSharing" />
    </feature>
    
    <gap:plugin name="nl.x-services.plugins.socialsharing" />

    <content src="index.html" />
    <access origin="*" />
</widget>
